# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv("../weather/output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,kalmunai,7.4167,81.8167,77.94,81,62,5.01,LK,1618095113
1,1,asau,46.4333,26.4000,39.99,45,1,3.47,RO,1618095113
2,2,faanui,-16.4833,-151.7500,82.27,70,59,9.60,PF,1618095113
3,3,jamestown,42.0970,-79.2353,73.40,27,1,10.36,US,1618095113
4,4,hermanus,-34.4187,19.2345,60.01,92,100,2.93,ZA,1618095114

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configuring gmaps
gmaps.configure(api_key=g_key)

In [4]:
#Creating a heat map that displays the humidity for every city from Weather portion.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#conditions:
# A max temperature lower than 80 degrees but higher than 70.

# Wind speed less than 10 mph.

# Zero cloudiness.



narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
28,28,rikitea,-23.1203,-134.9692,78.96,71,0,9.33,PF,1618095120
29,29,key largo,25.0865,-80.4473,79.00,80,0,5.01,US,1618094975
65,65,tura,25.5198,90.2201,71.56,71,0,3.76,IN,1618095129
74,74,bagarji,27.7560,68.7524,71.60,68,0,4.61,PK,1618095131
137,137,bandarbeyla,9.4942,50.8122,78.01,72,0,6.76,SO,1618095145
161,161,doha,25.2867,51.5333,77.00,78,0,4.61,QA,1618095151
213,213,imbituba,-28.2400,-48.6703,77.00,88,0,2.30,BR,1618095168
227,227,naliya,23.2667,68.8333,76.80,68,0,7.94,IN,1618095171
307,307,cacu,-18.5567,-51.1308,73.45,47,0,5.28,BR,1618095132
344,344,santa helena de goias,-17.8136,-50.5969,71.74,57,0,3.04,BR,1618095200
345,345,chilca,-12.5211,-76.7372,73.40,68,0,4.61,PE,1618095201
346,346,cassilandia,-19.1133,-51.7342,74.34,40,0,3.24,BR,1618095129
446,446,chiang khong,20.2613,100.4046,71.60,94,0,3.44,TH,1618095225
457,457,ambovombe,-25.1667,46.0833,73.09,89,0,9.24,MG,1618095228
479,479,ramjibanpur,22.8333,87.6167,77.45,78,0,8.08,IN,1618095233
553,553,porbandar,21.6422,69.6093,77.83,69,0,9.46,IN,1618095242

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#new dataframe with added hotel name column
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                      City Country      Lat       Lng Hotel Name
28                 rikitea      PF -23.1203 -134.9692
29               key largo      US  25.0865  -80.4473
65                    tura      IN  25.5198   90.2201
74                 bagarji      PK  27.7560   68.7524
137            bandarbeyla      SO   9.4942   50.8122
161                   doha      QA  25.2867   51.5333
213               imbituba      BR -28.2400  -48.6703
227                 naliya      IN  23.2667   68.8333
307                   cacu      BR -18.5567  -51.1308
344  santa helena de goias      BR -17.8136  -50.5969
345                 chilca      PE -12.5211  -76.7372
346            cassilandia      BR -19.1133  -51.7342
446           chiang khong      TH  20.2613  100.4046
457              ambovombe      MG -25.1667   46.0833
479            ramjibanpur      IN  22.8333   87.6167
553              porbandar      IN  21.6422   69.6093

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map


# Display figure